body {
    font: 20px Times, sans-serif;
}

.navbar {
    background-color: #E0E0E0;
}

.quem-somos {
    background-color: #00ACC1;
    color           : black;
}

.parceiros {
    background-color: #28B463;
}

.margin {
    padding-bottom: 50px;
    padding-top   : 10px;
}

.chamanodale {
    max-width: 10px;
}

.paragraph-content {
    text-align: justify;
}

.bg-footer {
    background-color: black;
    color           : white;
}